<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="userId" value="konni"/>
    <add key="password" value="myPass"/>
    <add key="Trusted_Connection" value="yes"/>
    <add key="database" value="database"/>
    <add key="connection_timeout=30"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SQLDataSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.soapclient.com/xml/SQLDataSoap.wsdl"
        binding="basicHttpBinding" bindingConfiguration="SQLDataSoapBinding"
        contract="DataSoap.SQLDataSoapPortType" name="SQLDataSoapPortType" />
    </client>
  </system.serviceModel>
</configuration>