<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="userId" value="konni" />
    <add key="password" value="myPass" />
    <add key="Trusted_Connection" value="yes" />
    <add key="database" value="database" />
    <add key="connection_timeout=30" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="LogSQL" value="true"/>
    <add key="LogDebug" value="true"/>
    <add key="LogRB" value="true"/>
    <add key="LogFile" value="External:Teris.Service.Log.MSMQBinaryMedium, Teris.Service.Log, Version=2.0.200.0, Culture=neutral, PublicKeyToken=4b80aea6bb65d850;.\private$\TerisLog;RB.Torg.B2BPaymentExecution"/>
    <!--<add key="LogFile" value="c:\temp\log\B2BPaymentExecution_{0:yyyyMMdd}.log"/>-->
    <!-- DB2 stilling.  Notað til að lesa DB2-->
    <add key="DB2.DataBase" value="path.host.is:1"/>
    <add key="DB2.Catalog" value="RBDBWA"/>
    <add key="DB2.DBUser" value="db2user"/>
    <add key="DB2.DBPassword" value="db2password"/>
    <add key="DB2.Provider" value="IBM.Data.DB2"/>
    <add key="DB2.ConnStrPostfix" value="CurrentSchema=RBDTRG"/>

    <!-- TORG stilling.  Notað til að lesa FE_CICS_SUPPORT  -->
    <add key="FG.DataBase" value="fgdatabase"/>
    <add key="FG.DBUser" value="fguser"/>
    <add key="FG.DBPassword" value="fgpassword"/>
    <add key="FG.AdaptSQLParam" value="true"/>
    <add key="FG.Provider" value="Oracle.DataAccess.Client"/>
    <add key="FG.PostConnCmd" value="ALTER SESSION SET CURRENT_SCHEMA=TORG"/>

    <add key="dev.DataBase" value="devdatabase"/>
    <add key="dev.Catalog" value=""/>
    <add key="dev.DBUser" value="devuser"/>
    <add key="dev.DBPassword" value="devpassword"/>
    <add key="dev.Provider" value="Oracle.DataAccess.Client"/>
    <add key="dev.ConnStrPostfix" value=""/>

    <!-- GJK stilling.  Notað til að sækja RB notanda-->
    <add key="GJK.DataBase" value="gjkdatabase" />
    <add key="GJK.DBUser" value="gjkuser" />
    <add key="GJK.DBPassword" value="#gjkpassword" />
    <add key="GJK.Provider" value="System.Data.OracleClient" />


    <add key="IK.Home.DataBase" value="path.host.is:1"/>
    <add key="IK.Home.Catalog" value="rbdbwa"/>
    <add key="IK.Home.DBUser" value="ikhomeuser"/>
    <add key="IK.Home.DBPassword" value="ikhomepassword"/>
    <add key="IK.Home.Provider" value="IBM.Data.DB2"/>
    <add key="IK.Home.ConnStrPostfix" value="CurrentSchema=rbdtrg"/>

    <!-- RB CICS Stillingar-->
    <add key="LogRBCommunicationsToDB" value="true" />
    <add key="RBHost" value="168.172.255.01" />
    <!--<add key="RBPort" value="3003" />-->
    <!--BPRO-->
    <add key="RBPort" value="1111"/>
    <!-- 3230 == DEVA -->
    <!-- Sopra WS wrapper -->
    <add key="Sopra.ExternalApplication" value="BKS"/>
    <add key="SopraPayments.CreatePaymentServicePath" value="cwsoft-webservices-service-SNAPSHOT/PaymentOperationRbiWS/PaymentOperationRbiWebServiceImpl"/>
    <add key="SopraPayments.PositionKeepingServicePath" value="cwsoft-webservices-service-SNAPSHOT/PositionKeepingItfOperationRWS/PositionKeepingItfOperationRWebServiceImpl"/>
    <add key="SopraPayments.PaymentEventServicePath" value="cwsoft-webservices-service-SNAPSHOT/PaymentEventWS/PaymentEventWebServiceImpl" />
    <add key="SopraPayments.DeletePositionKeepingWebServicePath" value="cwsoft-webservices-service-SNAPSHOT/PositionKeepingItfOperationWS/PositionKeepingItfOperationWebServiceImpl" />
    <!-- Stillingar fyrir PaymentExecution BLL -->
    <add key="PmntEx.RtransactionCodeErrorReason" value="40"/>
    <add key="PmntEx.RtransactionType" value="3"/>

    <!-- Clearing gateway wrapper -->
    <add key="GatewayUser" value="user"/>
    <add key="GatewayPassword" value="password"/>
    <add key="GWClearing" value="https://gw.dev.rb.is/b2b/v1/clearing/basic"/>

  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SQLDataSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.soapclient.com/xml/SQLDataSoap.wsdl" binding="basicHttpBinding" bindingConfiguration="SQLDataSoapBinding" contract="DataSoap.SQLDataSoapPortType" name="SQLDataSoapPortType" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>